{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h3 class="blog-post">Level-Up</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="list level-up">
                  <h4>Legend:</h4>
                  <ul>
                    <li>
                      <h5>
                        <input type="checkbox" class="task-list-item-checkbox" disabled>
                        <a class="title" style="pointer-events: none;">Todo</a>
                      </h5>
                    </li>
                    <li>
                      <h5 onclick="$('#fold_doing').toggleClass('hidden');">
                        <input type="checkbox" class="task-list-item-checkbox" disabled>
                        <strong>
                          <a class="title">Doing</a>
                        </strong>
                        <em>(click for details)</em>
                      </h5>
                      <div id="fold_doing" class="fold content content-info hidden">
                        More details about the work in progress.
                      </div>
                    </li>
                    <li>
                      <h5 onclick="$('#fold_done').toggleClass('hidden');">
                        <input type="checkbox" class="task-list-item-checkbox" disabled checked>
                        <a class="title" style="text-decoration: line-through;">Done</a>
                        <em>(click for details)</em>
                      </h5>
                      <div id="fold_done" class="fold content content-success hidden">
                        Description of the work.
                      </div>
                    </li>
                  </ul>
                {{ range $i, $el := .Data.Pages.GroupByParam "group" }}
                {{ if gt (len .Pages) 0 }}
                  <h3>{{ .Key }}:</h3>
                  <ul>
                  {{ range $j, $el := .Pages }}
                    <li>
                    {{ if eq .Params.state "todo" }}
                      <h5>
                        <input type="checkbox" class="task-list-item-checkbox" disabled>
                        <a class="title" style="pointer-events: none;">{{ .Title | markdownify }}</a>
                      </h5>
                    {{else}}
                      <h5 onclick="$('#fold_{{ $i }}_{{ $j }}').toggleClass('hidden');">
                        <input type="checkbox" class="task-list-item-checkbox" disabled {{ if eq .Params.state "done" }}checked{{end}}>
                      {{ if eq .Params.state "doing" }}
                        <strong>
                          <a>{{ .Title | markdownify }}</a>
                        </strong>
                      {{else}}
                        <a style="text-decoration: line-through;">{{ .Title | markdownify }}</a>
                      {{end}}
                      </h5>
                      {{ if eq .Params.state "doing" }}
                      <div id="fold_{{ $i }}_{{ $j }}" class="fold content content-info hidden">
                        {{ .Description }}
                      </div>
                      {{else}}
                      <div id="fold_{{ $i }}_{{ $j }}" class="fold content content-success hidden">
                        {{ .Description }}
                      </div>
                      {{end}}
                    {{end}}
                    </li>
                  {{ end }}
                  </ul>
                {{end}}
                {{ end }}
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
